<h1 class="mt-5 mb-3">Cadastro de notebooks</h1>
<div class="row">
    <div class="col-4 mb-3">
        <div class="input-group has-validation">
            <span class="input-group-text">@</span>
            <div class="form-floating">
                <input type="number" class="form-control" id="numero" placeholder="Número" required>
                <label for="numero">Número</label>
            </div>
            <div class="invalid-feedback">
                Por favor informe o número.
            </div>
        </div>
    </div>
    <div class="col-8 mb-3">
        <div class="input-group has-validation">
            <span class="input-group-text">@</span>
            <div class="form-floating">
                <input type="number" class="form-control" id="patrimonio" placeholder="Número de Patrimônio" required>
                <label for="patrimonio">Número de Patrimônio</label>
            </div>
            <div class="invalid-feedback">
                Por favor informe o número de patrimônio.
            </div>
        </div>
    </div>
    <div class="col-12 text-end">
        <button id="enviar" class="btn btn-lg btn-primary mt-3">Cadastrar</button>
    </div>
</div>
